.img-test {
    object-fit: object-fit; 
}

.card{
    width: 10rem;
    height: 11rem;
}

.finish{
    color: white;
}

#row.celebrate{
  -webkit-filter: blur(5px);
    filter: blur(5px);
}

.butt {
    margin: 10px;
}

.elem {
    margin: 10px;
}